table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#title{
    text-align: center;
}
.pointer{
    cursor: pointer;
}

.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh;
}

form {
    text-align: center;
}

.error{
    text-align: center;
    color: red;
}
